@using System.Text.Json

@page "/2D/DrawingText"
<SourceCodeLink Repository="Blazor.Canvas" Section="@nameof(Context2D)" Page="@nameof(DrawingText)" />
<h3>DrawingText</h3>

For more information, please visit <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D">https://developer.mozilla.org/</a>.

<h4>Sorry, this demo has not been implemented yet. The API however is implemented. Contributions to demos are very welcome <a href="https://github.com/excubo-ag/Blazor.Canvas">in the github repository</a></h4>

<Canvas @ref="canvas" width="400" height="400" style="border: 5px solid red" />

<ol>
    @if (Messages != null)
    {
        foreach (var message in Messages)
        {
            <li>@message</li>
        }
    }
</ol>

@code {
    private Canvas canvas;
    private List<string> Messages = new List<string>();
    private bool[] last_render = new bool[] { true };
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var current_state = new bool[] { };
        if (!current_state.SequenceEqual(last_render))
        {
            last_render = current_state;
            await UpdateCanvasAsync();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    private async Task UpdateCanvasAsync()
    {
        Messages.Clear();
        await using (var ctx = await canvas.GetContext2DAsync())
        {
            await ctx.ClearRectAsync(0, 0, 400, 400);
            await ctx.SetTransformAsync(1, 0, 0, 1, 0, 0);
            await ctx.RestoreAsync();
            await ctx.SaveAsync();
            Messages.Add("Cleared");
            await ctx.FillTextAsync("Hello", 0, 100);
            Messages.Add("Wrote hello");
            await ctx.FillTextAsync("canvas", 100, 10);
            Messages.Add("Wrote canvas");
            var measurement = await ctx.MeasureTextAsync("Hello canvas");
            Messages.Add($"Measured \"Hello canvas\": {JsonSerializer.Serialize(measurement, new JsonSerializerOptions { WriteIndented = true })}");
            Messages = Messages.ToList();
            await InvokeAsync(StateHasChanged);
        }
    }
}