
<style>
    .navigation-link {
        color: white;
    }

        .navigation-link:hover {
            color: whitesmoke;
        }
</style>

<a class="navigation-link" href="">Home</a>
<ul>
    <li>
        <a class="navigation-link" href="2D">2D</a>
        <ul>
            <li><a class="navigation-link" href="2D/CanvasState">Canvas state</a></li>
            <li><a class="navigation-link" href="2D/Compositing">Compositing</a></li>
            <li><a class="navigation-link" href="2D/DrawingImages">Drawing images</a></li>
            <li><a class="navigation-link" href="2D/DrawingPaths">Drawing paths</a></li>
            <li><a class="navigation-link" href="2D/DrawingRectangles">Drawing rectangles</a></li>
            <li><a class="navigation-link" href="2D/DrawingText">Drawing text</a></li>
            <li><a class="navigation-link" href="2D/FillAndStrokeStyles">Fill and stroke styles</a></li>
            <li><a class="navigation-link" href="2D/Filters">Filters</a></li>
            <li><a class="navigation-link" href="2D/ImageSmoothing">Image smoothing</a></li>
            <li><a class="navigation-link" href="2D/LineStyles">Line styles</a></li>
            <li><a class="navigation-link" href="2D/Paths">Paths</a></li>
            <li><a class="navigation-link" href="2D/PixelManipulation">Pixel manipulation</a></li>
            <li><a class="navigation-link" href="2D/Shadows">Shadows</a></li>
            <li><a class="navigation-link" href="2D/TextStyles">Text styles</a></li>
            <li><a class="navigation-link" href="2D/Transformations">Transformations</a></li>
            <hr />
            <li><a class="navigation-link" href="2D/batching">Batching</a></li>
            <li><a class="navigation-link" href="2D/whiteboard">Example: Whiteboard</a></li>
        </ul>
    </li>
</ul>
<hr />
<div style="width: fit-content; margin-left: auto; margin-right: auto">
    <CommitLink />
</div>
