<ul style="height:100%; background-color: beige">
    <li><a href="">Overview</a></li>
    <li>
        <a href="2D">2D</a>
        <ul>
            <li><a href="2D/CanvasState">CanvasState</a></li>
            <li><a href="2D/Compositing">Compositing</a></li>
            <li><a href="2D/DrawingImages">DrawingImages</a></li>
            <li><a href="2D/DrawingRectangles">DrawingRectangles</a></li>
            <li><a href="2D/DrawingText">DrawingText</a></li>
            <li><a href="2D/FillAndStrokeStyles">FillAndStrokeStyles</a></li>
            <li><a href="2D/Filters">Filters</a></li>
            <li><a href="2D/ImageSmoothing">ImageSmoothing</a></li>
            <li><a href="2D/LineStyles">LineStyles</a></li>
            <li><a href="2D/Paths">Paths</a></li>
            <li><a href="2D/PixelManipulation">PixelManipulation</a></li>
            <li><a href="2D/Shadows">Shadows</a></li>
            <li><a href="2D/TextStyles">TextStyles</a></li>
            <li><a href="2D/Transformations">Transformations</a></li>
            <li><a href="2D/batching">Batching</a></li>
        </ul>
    </li>
</ul>
<div style="position: absolute; left: 2em; bottom: 1em">
    <CommitLink />
</div>
