@page "/2D/whiteboard"
@using Microsoft.JSInterop
@inject IJSRuntime js

<button @onclick="ToggleColorAsync" style="color:@clr">Toggle color between black and red</button>
<div @ref="container">
    <Canvas @onmousemove="MouseMoveCanvasAsync" @onmouseup="MouseUpCanvas" @onmousedown="MouseDownCanvas" width="400" height="400" @ref="_context" style="border: 1px solid red"></Canvas>
</div>
@code
{
    private ElementReference container;
    private Canvas _context;
    private Excubo.Blazor.Canvas.Contexts.Context2D ctx1;
    private double canvasx;
    private double canvasy;
    private double last_mousex;
    private double last_mousey;
    private double mousex;
    private double mousey;
    private bool mousedown = false;
    private string clr = "black";

    private class Position
    {
        public double Left { get; set; }
        public double Top { get; set; }
    }
    private async Task ToggleColorAsync()
    {
        clr = clr == "black" ? "red" : "black";
        await ctx1.StrokeStyleAsync(clr);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ctx1 = await _context.GetContext2DAsync();
            // initialize settings
            await ctx1.GlobalCompositeOperationAsync(CompositeOperation.Source_Over);
            await ctx1.StrokeStyleAsync(clr);
            await ctx1.LineWidthAsync(3);
            await ctx1.LineJoinAsync(LineJoin.Round);
            await ctx1.LineCapAsync(LineCap.Round);
            // this retrieves the top left corner of the canvas container (which is equivalent to the top left corner of the canvas, as we don't have any margins / padding)
            var p = await js.InvokeAsync<Position>("eval", $"let e = document.querySelector('[_bl_{container.Id}=\"\"]'); let r = {{ 'Left': e.offsetLeft, 'Top': e.offsetTop }}; r");
            (canvasx, canvasy) = (p.Left, p.Top);
        }
    }

    private void MouseDownCanvas(MouseEventArgs e)
    {
        render_required = false;
        this.last_mousex = mousex = e.ClientX - canvasx;
        this.last_mousey = mousey = e.ClientY - canvasy;
        this.mousedown = true;
    }

    private void MouseUpCanvas(MouseEventArgs e)
    {
        render_required = false;
        mousedown = false;
    }

    async Task MouseMoveCanvasAsync(MouseEventArgs e)
    {
        render_required = false;
        if (!mousedown)
        {
            return;
        }
        mousex = e.ClientX - canvasx;
        mousey = e.ClientY - canvasy;
        await DrawCanvasAsync(mousex, mousey, last_mousex, last_mousey, clr);
        last_mousex = mousex;
        last_mousey = mousey;
    }
    async Task DrawCanvasAsync(double prev_x, double prev_y, double x, double y, string clr)
    {
        await using (var ctx2 = await ctx1.CreateBatchAsync())
        {
            await ctx2.BeginPathAsync();
            await ctx2.MoveToAsync(prev_x, prev_y);
            await ctx2.LineToAsync(x, y);
            await ctx2.StrokeAsync();
        }

    }
    private bool render_required = true;
    protected override bool ShouldRender()
    {
        if (!render_required)
        {
            render_required = true;
            return false;
        }
        return base.ShouldRender();
    }
}